html, body {
  font-family: 'Montserrat', sans-serif;
  }

h1 {
  font-size: 4em;
  color: #c1ae87;
  font-weight: 900;
}

.container {
  border: 45px solid #c1ae87;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

textarea, input, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  outline-color: red;
}

textarea {
  width: 70%;
}
